# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
dl_env/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Dataset folders (optional if large)
data/
datasets/

# PyTorch model weights
*.pt
*.pth

# Build
build/
dist/